.footer
  display: flex
  justify-content: space-between
  padding: 30px 40px
  background: #000
  color: #777
  flex-wrap: wrap
  gap: 4rem

.links
  display: flex
  align-items: center
  gap: 1.4rem

@media screen and (max-width: 769px)
  .footer
    justify-content: center

@media screen and (max-width: 600px)
  .footer
    gap: 1rem

  .links
    width: 100%
    justify-content: center