.socials
  display: flex
  gap: 16px

  a
    display: flex
    align-items: center
    justify-content: center

    color: #fff
    font-size: 26px
    transition: all 0.3s ease

    &:hover
      color: #f5b400
      transform: scale(1.1)

.header
  a
    font-size: 18px


/* В CTA */
.cta
  margin-top: 20px

  a
    color: #aaa
    font-size: 16px

    &:hover
      color: #f5b400


/* В footer */
.footer
  a
    color: #777

    &:hover
      color: #f5b400
